#mainPanel {
    -fx-background-color: #2b2b2b;
}

#applicationPanel, #bottomPanel {
    -fx-background-color: #464646;
}

#systemMenu, .context-menu, .menu:hover,
#filePathPanel, #projectButtonPanel, #pluginButtonPanel, #consoleButtonPanel, #statePanel {
    -fx-background-color: #3c3f41;
}

.menu:showing, .menu-item:hover, .menu-item:focused, .menu-item:showing {
    -fx-background-color: #4b6eaf;
}

#systemMenu .label {
    -fx-text-fill: #bbb;
}

.context-menu {
    -fx-padding: 1px;
}

#projectTreeButton, #dataSourceButton, #layerButton {
    -fx-padding: 1px;
    -fx-background-color: #3c3f41;
    -fx-text-alignment: center;
    -fx-text-fill: #bbb;
    -fx-border-radius: none;
}

#projectTreeButton, #dataSourceButton:hover, #layerButton:hover {
    -fx-background-color: #353739;
}

#projectTreeButton, #dataSourceButton:focused, #layerButton:focused {
    -fx-background-color: #2d2f30;
    -fx-text-fill: #fff;
}

#statePanel .label {
    -fx-text-fill: #bbb;
}
